.scene {
	position: relative;
	width:100vw;
	height:calc(80vw * (1080 / 1920));
	overflow: hidden;
	background-image: url('/bandifesta/assets/main_sec4_bg.png');
	background-size: 100%;
	background-position: bottom;
	& .loadingBackdrop {
		top:50%;
		left:50%;
		position: absolute;
		width: 125%;
		height: 125%;
		background-color: #999;
		background-image: url('/bandifesta/assets/scene_capture.png');
		background-size: 85%;
		background-position: center;
		background-repeat: no-repeat;
		transform: translate(-50%, -50%);
		filter: blur(4px);
		opacity: 1;
		transition: opacity 2.5s;
		&.hidden {
			opacity: 0;
		}
	}
	& .canvas {
		opacity: 0;
		transition: opacity 2.5s;
		&.active {
			opacity: 1;
		}
	}
}