.Sec3_bottom{
    position: relative;
    margin-top: 20px;
}
.Sec3_bottom>h4{
    text-align: center;
    font-size: 28px;
    padding-bottom: 30px;
}
.Sec3_bottom>button{
    position: absolute;
    right: 0;
    top:0;
    background-color: #eee;
    width: 90px;
    height: 40px;
    font-size: 18px;
    font-weight: 600;
    font-family: "NotoSans";
    border: none;
    box-shadow: 2px 2px 2px rgba(0,0,0,.25);
    cursor: pointer;
}
.sec3_bottom_title{
    width: 1440px;
    height: 80px;
    padding: 0 20px;
    line-height: 80px;
    border-top: #686868 2px solid;
    border-bottom: #686868 2px solid;
}
.sec3_bottom_title>li{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.sec3_bottom_title_title{
    width: 60%;}

.sec3_bottom_title_li{
    width: 20%;
}
.sec3_bottom_list{
    width: 1440px;
    height: 80px;
    padding: 0 20px;
    line-height: 80px;
    border-bottom: #ccc 1px solid;
}
.sec3_bottom_list>li{
    font-size: 20px;
    font-weight: 400;
}
.sec3_bottom_list_title{
    width: 60%;
}
.sec3_bottom_list_li{
    text-align: center;
    width: 20%;
}

@media screen and (max-width : 1439px) {
.Sec3_bottom>h4{
    text-align: center;
    font-size: 20px;
    padding-bottom: 20px;
}
.Sec3_bottom>button{
    width: 80px;
    height: 35px;
    font-size: 16px;
}
.sec3_bottom_title{
    width: 1024px;
    height: 60px;
    padding: 0 10px;
    line-height: 60px;
}
.sec3_bottom_title>li{
    font-size: 16px;
}
.Sec3_bottom{
    width: 1024PX;
}
.sec3_bottom_list{
    
    width: 1024px;
    height: 60px;
    padding: 0 10px;
    line-height: 60px;
}
.sec3_bottom_list>li{
    font-size: 16px;
    font-weight: 400;
}
}
@media screen and (max-width:1023px) {
    



}