.Sec3_bottom{
    width: 1440px;
    position: relative;
    margin-top: 20px;
}
.Sec3_bottom>h4{
    text-align: center;
    font-size: 28px;
    padding-bottom: 30px;
}
.Sec3_bottom>button{
    position: absolute;
    right: 0;
    top:0;
    background-color: #eee;
    width: 90px;
    height: 40px;
    font-size: 18px;
    font-weight: 600;
    font-family: "NotoSans";
    border: none;
    box-shadow: 2px 2px 2px rgba(0,0,0,.25);
    cursor: pointer;
}