.IntroTitle{
    display: flex;
	flex-direction: column;
	align-items: center;
}
.IntroTitle_box{
    width: 380px;
    height: 100px;
    background-color: #050819;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
	@media screen and (max-width:1439px) {
		width: 280px;
		height: 80px;
	}
	@media screen and (max-width:1023px) {
		width: calc( 100vw * ( 160 / 400 ));
		height: calc( 100vw * ( 64 / 400 ));
	}
}
.IntroTitle_innerbox{
    position: relative;
    width: 360px;
    height: 80px;
    border: 2px solid #f8f8f8;
    display: flex;
    align-items: center;
    justify-content: center;
	@media screen and (max-width:1439px) {
		width: 260px;
		height: 60px;
	}
	@media screen and (max-width:1023px) {
		width: calc( 100vw * ( 140 / 400 ));
		height: calc( 100vw * ( 46 / 400 ));
	}
}
.IntroTitle_crossbox{
    position: absolute;
    left : 50%;
    top : 50%;
    transform: translate( -50%, -50%);
    width: 440px;
    height: 48px;
    background-color: #050819;
    border-radius: 999px;
	@media screen and (max-width:1439px) {
		width: 320px;
		height: 40px;
	}
	@media screen and (max-width:1023px) {
		width: calc( 100vw * ( 190 / 400 ));
		height: calc( 100vw * ( 26 / 400 ));
	}
}
.IntroTitle_title{
    text-align: center;
    color: #f8f8f8;
    font-size: 32px;
    display: block;
    margin:0;
    line-height: 48px;
    font-family: 'BookkBold';
	@media screen and (max-width:1439px) {
		font-size: 30px;
		line-height: 40px;
	}
	@media screen and (max-width:1023px) {
		font-size: calc( 100vw * ( 16 / 400 ));
		line-height: calc( 100vw * ( 26 / 400 ));
	}
}