.course {
  width: 1090px;
}

.course_top {
  justify-content: start;
}

.course_gbg_map {
  padding: 20px;
  margin: 50px 0;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}

.course_gbg_map>img {
  width: 1050px;
}

.course_wrap {
  width: 1090px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  margin: 50px 0;
}

.people-image {
  width: 70px;
  position: absolute;
}

.course_gbg_spot {
  position: relative;
  width: 1090px;
  height: 100%;
}

.point_spot_wrap {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  width: 45px;
  height: 62px;
  z-index: 999;
}

.point_spot_wrap.point-end {
  width: auto;
  height: auto;
}

.point_spot {
  width: 38px;
  height: 38px;
  border-radius: 38px;
  background-color: #6e6e6e;
  display: flex;
  align-items: center;
  justify-content: center;
}

.point_spot>div {
  width: 15px;
  height: 15px;
  border-radius: 38px;
  background-color: var(--color-white);
}

.point_spot_wrap>.point-end.point_spot {
  background: none;
  width: 50px;
  height: 92px;
  border-radius: 0;
  background-image: url(/bandifesta/assets/finish.png);
  background-size: cover;
}

.point-end>div {
  background: none;
  border-radius: 0;
}

.course_line_top {
  position: absolute;
  right: 75px;
  top: 119px;
  width: 910px;
  height: 2px;
  background-color: #6e6e6e;
}

.course_line_bottom {
  position: absolute;
  right: 75px;
  bottom: 78px;
  width: 260px;
  height: 110px;
  border-right: 2px solid #6e6e6e;
  border-bottom: 2px solid #6e6e6e;
}

.course_line_bottom.min40 {
  display: none;
}

.course_line_bottom.min90 {
  width: 390px;
}

.point_spot.clicked {
  background-color: var(--color-main);
}

.course_info>h3 {
  font-size: 32px;
  font-weight: 400px;
  text-align: center;
}

.course_info>img {
  display: block;
  width: 1090px;
  margin: 32px 0;
}

.course_info>p {
  font-weight: 400;
  line-height: 36px;
}

.clickable-point {
  color: #6e6e6e;
  font-weight: 400;
}

.clickable-point.clicked {
  font-weight: 600;
  color: var(--color-main);
}

.mobile_course_line_top,
.mobile_course_line_bottom {
  display: none;
}

@media screen and (max-width: 1439px) {
  .course {
    width: 690px;
  }

  .course_gbg_map {
    padding: 10px;
    margin: 30px 0;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  }

  .course_gbg_map>img {
    width: 670px;
  }

  .course_wrap {
    width: 690px;
    margin: 30px 0;
  }

  .people-image {
    width: 65px;
    position: absolute;
  }

  .course_gbg_spot {
    position: relative;
    width: 690px;
    height: 100%;
  }

  .course .point_spot_wrap {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    width: 44px;
    height: 58px;
  }

  .point_spot_wrap.point-end {
    width: auto;
    height: auto;
  }

  .point_spot {
    width: 38px;
    height: 38px;
  }

  .point_spot>div {
    width: 15px;
    height: 15px;
  }

  .point_spot_wrap>.point-end.point_spot {
    width: 40px;
    height: 74px;
  }

  .course_line_top {
    right: 28px;
    top: 95px;
    width: 630px;
  }

  .course_line_bottom {
    right: 28px;
    top: 138px;
    width: 180px;
    height: 110px;
  }

  .course_line_bottom.min90 {
    width: 270px;
  }

  .course_info>h3 {
    font-size: 24px;
  }

  .course_info>img {
    display: block;
    width: 690px;
    margin: 30px 0;
  }

  .course_info>p {
    font-weight: 400;
    font-size: 14px;
    line-height: 32px;
  }

  .clickable-point {
    font-size: 14px;
  }

}

@media screen and (max-width:1023px) {

  .course {
    width: 100%;
  }

  .course_gbg_map {
    padding: 0px;
    margin: 10px 0;
  }

  .course_gbg_map>img {
    width: 100%;
  }

  .course_wrap {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: calc(100vw * (20 / 400)) 0;
    height: calc(100vw * (300 / 400));
    padding: 0 calc(100vw * (20 / 400));
  }

  .people-image {
    width: calc(100vw * (60 / 400));
    position: absolute;
    z-index: 999999999999999999999999999999999;
  }

  .course_gbg_spot {
    position: relative;
    width: calc(100vw * (312 / 400));
    height: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .course .point_spot_wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    width: calc(100vw * (40 / 400));
    height: calc(100vw * (65 / 400));
    z-index: 9999;
    left: auto;
    bottom: auto;
    margin-left:calc(100vw * (38 / 400));;
    margin-top:calc(100vw * (50/ 400));;
  }

  .point_spot_wrap.min40:not(.point-end)::after {
    position: absolute;
    content: "";
    background-color: #6e6e6e;
    height: calc(100vw * (2 / 400));
    width: calc(100vw * (66/ 400));
    right: calc(100vw * (20 / 400));
    top: calc(100vw * (12 / 400));
    z-index: -1;
  }

  .point_spot_wrap.min40.point-09::before {
    position: absolute;
    content: "";
    background-color: #6e6e6e;
    height: calc(100vw * (72 / 400));
    width: calc(100vw * (2 / 400));
    right: 48%;
    top: calc(-100vw * (72 / 400));
    z-index: -1;
  }
  .point_spot_wrap.min60:not(.point-end):not(.point-11):not(.point-13)::after {
    position: absolute;
    content: "";
    background-color: #6e6e6e;
    height: calc(100vw * (2 / 400));
    width: calc(100vw * (66/ 400));
    right: calc(100vw * (20 / 400));
    top: calc(100vw * (12 / 400));
    z-index: -1;
  }
  .point_spot_wrap.min60.point-13::after {
    position: absolute;
    content: "";
    background-color: #6e6e6e;
    height: calc(100vw * (2 / 400));
    width: calc(100vw * (66/ 400));
    left: calc(100vw * (20 / 400));
    top: calc(100vw * (12 / 400));
    z-index: -1;
  }
  .point_spot_wrap.min60.point-02::before,.point_spot_wrap.min60.point-13::before {
    position: absolute;
    content: "";
    background-color: #6e6e6e;
    height: calc(100vw * (72 / 400));
    width: calc(100vw * (2 / 400));
    right: 48%;
    top: calc(-100vw * (72 / 400));
    z-index: -1;
  }
  .point_spot_wrap.min90:not(.point-end):not(.point-07):not(.point-12)::after {
    position: absolute;
    content: "";
    background-color: #6e6e6e;
    height: calc(100vw * (2 / 400));
    width: calc(100vw * (66/ 400));
    right: calc(100vw * (20 / 400));
    top: calc(100vw * (12 / 400));
    z-index: -1;
  }
  .point_spot_wrap.min90.point-14::before {
    position: absolute;
    content: "";
    background-color: #6e6e6e;
    height: calc(100vw * (2 / 400));
    width: calc(100vw * (66/ 400));
    left: calc(100vw * (20 / 400));
    top: calc(100vw * (12 / 400));
    z-index: -1;
  }
  .point_spot_wrap.min90.point-10::before,.point_spot_wrap.min90.point-12::before {
    position: absolute;
    content: "";
    background-color: #6e6e6e;
    height: calc(100vw * (72 / 400));
    width: calc(100vw * (2 / 400));
    right: 48%;
    top: calc(-100vw * (72 / 400));
    z-index: -1;
  }
  .point_spot_wrap.point-end {
    width: calc(100vw * (30 / 400));
    height: auto;
    z-index: 99;
  }

  .point_spot {
    width: calc(100vw * (24 / 400));
    height: calc(100vw * (24 / 400));
  }

  .point_spot>div {
    width: calc(100vw * (8 / 400));
    height: calc(100vw * (8 / 400));
  }

  .point_spot_wrap>.point-end.point_spot {
    width: calc(100vw * (40 / 400));
    height: auto;
  }

  .course_line_top {
    display: none;
  }

  .course_line_bottom {
    display: none;
  }

  .course_info>h3 {
    font-size: calc(100vw * (24 / 400));
  }

  .course_info>img {
    display: block;
    width: 100%;
    margin: calc(100vw * (30 / 400)) 0;
  }

  .course_info>p {
    font-weight: 400;
    font-size: calc(100vw * (14 / 400));
    line-height: calc(100vw * (28 / 400));
  }

  .clickable-point {
    font-size: calc(100vw * (14 / 400));
  }
  .point_spot_wrap>.point-end.point_spot {
    width: calc(100vw * (50 / 400));
    height: calc(100vw * (92 / 400));
    position: absolute;
    bottom: calc(100vw * (8 / 400));;
  }
}