.SubIntroPreservation_sec4>div{
    padding :30px 10px;
    font-family: "BookkBold";
    line-height: 24px;
    border-top: 2px solid var(--color-main);
    border-bottom: 2px solid var(--color-main);
    margin-top: 30px;
	font-size: 16px;
	@media screen and (max-width:1023px) {
		font-size: calc(100vw * ( 12 / 400 ));
		line-height: calc(100vw * ( 18 / 400 ));
        padding: calc(100vw * ( 10 / 400 ));
        margin-top: calc(100vw * ( 30 / 400 ));
	}
}
.SubIntroPreservation_sec4_bottom_cont{
    font-size: 16px;
    line-height: 36px;
    padding: 30px 0 70px;
    font-family: "BookkThin";
	@media screen and (max-width:1023px) {
		font-size: calc(100vw * ( 10 / 400 ));
		line-height: calc(100vw * ( 18 / 400 ));
		padding: calc(100vw * ( 10 / 400 )) 0 calc(100vw * ( 40 / 400 ));
	}
}