.SubIntroPreservation_sec2_wrap{
    padding-top: 70px;
    @media screen and (max-width:1023px) {
        padding-top: calc(100vw * ( 40 / 400))
    }
}
.SubIntroPreservation_sec2_first_wrap{
    margin-top: 30px;
    padding: 10px 0;
    border-top: 2px solid var(--color-main);
    border-bottom: 2px solid var(--color-main);
    @media screen and (max-width:1023px) {
        margin-top: calc(100vw * ( 20 / 400));
        padding: calc(100vw * ( 10 / 400));
    }
}
.SubIntroPreservation_sec2_first{
    width: 100%;
    padding:30px 60px;
    background-color: var(--color-main);
    justify-content: space-between;
    @media screen and (max-width:1023px) {
    padding: calc(100vw * ( 10 / 400)) calc(100vw * ( 10 / 400));}
}
.SubIntroPreservation_sec2_first img{
    height: 80px;
    @media screen and (max-width:1023px) {
        height: calc(100vw * ( 40 / 400));
    }
}
.SubIntroPreservation_sec2_first li{
    text-align: center;
    font-size: 20px;
    font-family: "BookkBold";
    @media screen and (max-width:1023px) {
        
    font-size: calc(100vw * ( 10 / 400));
    }
}
.SubIntroPreservation_sec2_first li{
    color: var(--color-white);
}
.SubIntroPreservation_sec2_first>div{
    padding-top:calc(100vw * ( 10 / 400));
}
.SubIntroPreservation_sec2_first>div>img{
    height: 50px;
    @media screen and (max-width:1023px) {
        height: calc(100vw * ( 20 / 400))
    }
}
.SubIntroPreservation_sec2_wrap>p{
    font-size: 16px;
    line-height: 36px;
    padding: 30px 0 70px;
    font-family: "BookkThin";
	@media screen and (max-width:1023px) {
		font-size: calc(100vw * ( 10 / 400 ));
		line-height: calc(100vw * ( 18 / 400 ));
		padding: calc(100vw * ( 16 / 400 )) 0 calc(100vw * ( 30 / 400 ));
	}
}