.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.Main_sec4 .fontSubTitle {
  /* font-size: 18px; */
  font-weight: 400;
}

.Main_sec4 {
  width: 100%;
  background-image: url(/bandifesta/assets/main_sec4_bg.png);
  color: var(--color-white);
  text-align: center;
  padding: calc( 100vw * (20 / 400)) 0 100px;
  position: relative;
  overflow: hidden;
}
.Main_sec4  h5 {
  font-size: 40px;
  font-weight: 600;
}
.Main_sec4  p {
  font-size: 18px;
  font-weight: 400;
  margin: 30px 0;
}
.Main_sec4_bottom{
  padding-top: 600px;
  position: relative;
  overflow: hidden;
}
.Main_sec4_bottom_logoMoon>img{
  width: 250px;
  transform: rotate(90deg) translateX(-50%);
  transition-duration: 2s;
  left: 50%;
}
.Main_sec4_bottom_logoMoon{
  width: 1440px;
  height: 1440px;
  position: absolute;
  top:50px;
  left:50%;
  transform: translateX(-50%) rotate(-90deg);
  transition-duration: 2s;
  animation: MoonLight 2s infinite;
}
.Main_sec4_bottom_logoMoon.active{
  transform: translateX(-50%) rotate(0deg);
}
.Main_sec4_bottom_logoMoon.active>img{
  transform: rotate(0deg);
}
.Main_sec4_bottom_logoMoon.active>.Main_sec4_bottom_logoMoonLight{
  transform: rotate(0deg);
}

@keyframes MoonLight {
  0% {
    filter: drop-shadow(0 0 3px rgba(255, 223, 0, 0.4)) drop-shadow(0 0 7px rgba(255, 223, 0, 0.3)) drop-shadow(0 0 10px rgba(255, 223, 0, 0.2));
  }
  50% {
    filter: drop-shadow(0 0 10px rgba(255, 223, 0, 0.8)) drop-shadow(0 0 15px rgba(255, 223, 0, 0.6)) drop-shadow(0 0 20px rgba(255, 223, 0, 0.4));
  }
  100% {
    filter: drop-shadow(0 0 3px rgba(255, 223, 0, 0.4)) drop-shadow(0 0 7px rgba(255, 223, 0, 0.3)) drop-shadow(0 0 10px rgba(255, 223, 0, 0.2));
  }
}
.Main_sec4_bottom_bottom{
  position: absolute;
  bottom: -480px;
  left: 0;
  transition-duration: 2s;
}
.Main_sec4_bottom_bottom>img{
  width: 100%;
}
.Main_sec4_bottom_bottom.active{
  bottom: 0;
}
.sec4SwiperMobile{
  display: none;
}
@media screen and (max-width:1023px) {
  .sec4SwiperMobile{
      display: block;
  }
  .sec4Swiper{
    display: none;
  }
  .swiper .fontSubTitle{
    display: none;
  }
  .Main_sec4_bottom_logoMoon{
    width: calc( 100vw * (600 / 400));;
    height: calc( 100vw * (400 / 400));;
    top:50px;
  }
  .Main_sec4_bottom_logoMoon>img{
    width: calc( 100vw * (100 / 400));
    transform: rotate(90deg) translateX(-50%);
    transition-duration: 2s;
    left: 50%;
  }
  .Main_sec4_bottom{
    padding-top: calc( 100vw * (350 / 400));
  }    
  .Main_sec4  h5 {
    font-size: calc( 100vw * (20 / 400));
    font-weight: 600;
    padding-bottom: calc( 100vw * (20 / 400));;
  }
  .Main_sec4  p {
    display: none;
  }
  .festivalCardTop{
    border-radius: calc( 100vw * (20 / 400));
  }

}