.festivalCard {
	display: flex;
	flex-direction: column;
	gap:10px;
	cursor: pointer;
}

.festivalCard.disabled {
	pointer-events: none;
}

.festivalCardTop {
	position: relative;
	width: 100%;
	aspect-ratio: 1 / 1.414;
	background-color: #ccc;
	background-image: url('/bandifesta/assets/sparkle.png');
	background-position: center;
	background-size: 50%;
	background-repeat: no-repeat;
	overflow: hidden;
}

.festivalCardTop .hightlight {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #fff;
	opacity: 0;
	transition: opacity 0.25s;
}

.festivalCard:hover .hightlight {
	opacity: 0.33;
}

.festivalCardImage {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.festivalCardList {
	display: grid;
	gap: 48px;
	grid-template-columns: repeat(4,1fr);
	@media screen and (max-width:1439px) {
		gap: 15px;
		grid-template-columns: repeat(3,1fr);
	}
	@media screen and (max-width:1023px) {
		gap: calc( 100vw * (10 / 400));
		grid-template-columns: repeat(2,1fr);
	}
}

/*축제리스트 필터*/
.festivalSelectContainer {
	position: relative;
}

.festivalSelect {
	width: 130px;
	height: 35px;
	border-color: #ccc;
	color: #9b9b9b;
	appearance: none;
	position: relative;
	padding-left: 16px;
	outline: none;
	@media screen and (max-width:1023px) {
		padding-left: calc( 100vw * (16 / 400));
		width: calc( 100vw * (130 / 400));
		height: calc( 100vw * (35 / 400));
	}
}

.festivalSelect>option {
	height: 32px;
	border-color: #ccc;
	border-style: solid;
	border-width: 0 1px 1px 1px;
	@media screen and (max-width:1023px) {
		padding-left: calc( 100vw * (16 / 400));
		height: calc( 100vw * (32 / 400));
	}
}

.festivalSelectArrow {
	pointer-events: none;
	position: absolute;
	width: 18px;
	height: 18px;
	right: 16px;
	top: 50%;
	background-image: url('/bandifesta/assets/arrowGrey.png');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	transform: translateY(-50%) rotate(90deg);
	transform-origin: 50% 50%;
	z-index: 32;
	@media screen and (max-width:1023px) {
		right: calc( 100vw * (16 / 400));
		width: calc( 100vw * (18 / 400));
		height: calc( 100vw * (18 / 400));
	}
}

/* 축제조아요버튼 */
.festivalLikeButton {
	position: absolute;
	bottom: 5px;
	right: 5px;
	width: 32px;
	height: 32px;
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 8192px;
	cursor: pointer;
	font-size: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	@media screen and (max-width:1023px) {
		width: calc( 100vw * (27 / 400));
		height: calc( 100vw * (27 / 400));
	}
}

.festivalLikeButton>.heart {
	user-select: none;
	width: 20px;
	height: 20px;
	object-position: center;
	object-fit: fill;
	@media screen and (max-width:1023px) {
		width: calc( 100vw * (16 / 400));
		height: calc( 100vw * (16 / 400));
	}
}