@media screen and (max-width:1439px) {
   /* sec2 */
    .sec2_img>img{
        width: 900px;
    }
    .sec2_img{
        margin-top: 80px;
    }
    .sec2_top > h3{
        font-family: "BookkBold";
        font-size: 32px;
        line-height: 52px;
    }
    .sec2_button{
        width: 120px;
        height: 40px;
        font-size: 16px;
        margin-top: 20px;
        line-height: 40px;
    }
    /* sec3 */
    .main_sec3_bottom{
        display: none;
    }
    .sec3_info_title>h3{
        font-size: 32px;
        font-weight: 600;
    }
    .sec3_info_title>p{
        font-size: 16px;
        margin: 20px 0;
        font-weight: 400;
    }
    .sec3 .swiper{
        width: 1024px;
    }
    .Sec3_top{
        margin-top: 20px;
        padding-bottom:20px;
    }
    .Sec3_top>h4{
        text-align: center;
        font-size: 20px;
        padding-bottom: 20px;
    }
    .Sec3_top>button{
        width: 80px;
        height: 35px;
        font-size: 16px;
    }
    .Sec3_bottom{
        margin-top: 20px;
        padding-bottom:20px;
    }
    .Sec3_bottom>h4{
        text-align: center;
        font-size: 20px;
        padding-bottom: 20px;
    }
    .Sec3_bottom>button{
        width: 80px;
        height: 35px;
        font-size: 16px;
    }
    .sec3_bottom_title{
        width: 1024px;
        height: 60px;
        padding: 0 10px;
        line-height: 60px;
    }
    .sec3_bottom_title>li{
        font-size: 16px;
    }
}