@media screen and (max-width:1023px) {
    .sec2{
        padding : calc( 100vw * (20 / 400)) 0;
    }
    .sec2_img>img:last-child{
        display: block;
        border-radius: 20px;
    }
    .sec2_img>img:first-child{
        display: none;
    }
    .sec2_img>img{
        width: 95%;
        margin: 0 auto;
    }
    .sec2_wrap{
        padding-left: calc( 100vw * (10 / 400));
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .sec2_img{
        margin-top: calc( 100vw * (10 / 400));
        width: 100%;
    }
    .sec2_top > h3{
        font-family: "BookkBold";
        font-size: calc( 100vw * (20 / 400));
        line-height: calc( 100vw * (32 / 400));
        text-align: start;
        width: 100%;
    }
    .sec2_button{
        width: calc( 100vw * (75 / 400));
        height: calc( 100vw * (25 / 400));
        font-size: calc( 100vw * (12 / 400));
        margin-top: calc( 100vw * (10 / 400));
        line-height: calc( 100vw * (25/ 400));
    }
}