.PageIntroWrap{
    border: 1px solid #ccc;
    padding : 20px 20px 80px 20px;
    width: 1090px;
    @media screen and (max-width:1439px) {
        width: 750px;
    }
    @media screen and (max-width:1023px) {
        border: none;
        padding:0;
        width: 100%;
}
}

 .tabContentDivision{
    justify-content: center;
 }