.myMenuButton {
	background-image: url('/bandifesta/assets/user1.png');
	background-size: 100%;
	width: 40px;
	aspect-ratio: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0;
	position: relative;
	cursor: pointer;
	@media screen and (max-width:1439px) {
		width:30px;
	}
	@media screen and (max-width:1023px) {
		background-image: url('/bandifesta/assets/burger-bar.png');
		width: calc(100vw * (24 / 400));
	}
}

.myMenuButton>img {
	width: 100%;
	height: 100%;
	border-radius: 8192px;
	@media screen and (max-width:1023px) {
		display: none;
	}
}

/* 마이메뉴 컨테이너 */
.myMenuContainerWrapper {
	user-select: none;
	position: fixed;
	background-color: #fff;
	border-radius: 10px 0 0 10px;
	padding: var(--header-padding);
	right: -100%;
	top: 0;
	width: 370px;
	z-index: 16384;
	filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.15));
	transition: right 0.25s ease;
	padding-bottom: 40px;
	border: 1px solid #ccc;
	@media screen and (max-width:1023px) {
		border: none;
		width: 100%;
		height: 100dvh;
		border-radius: 0;
		overflow-y: scroll;
		padding-bottom: calc( 100vw * (40 / 400));
	}
}

.myMenuContainerWrapper{
	-ms-overflow-style: none;
 }
 .myMenuContainerWrapper::-webkit-scrollbar{
   display:none;
 }

.myMenuContainer {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 40px;
	@media screen and (max-width:1023px) {
		gap: calc( 100vw * (30 / 400));
		margin-bottom: calc(100vw * (64 / 400));
		/* min-height: 1024px; */
	}
}

.myMenuContainerWrapper.active {
	display: flex;
	right: 0;
}

.myMenuContainerWrapper .header {
	min-height: var(--header-height);
	border-bottom: 1px solid #ccc;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.myMenuContainerWrapper .text {
	text-align: center;
}

.myMenuContainerWrapper .close {
	cursor: pointer;
	background-image: url('/bandifesta/assets/closeBtn.png');
	background-size: 100%;
	aspect-ratio: 1;
	width: 40px;
	@media screen and (max-width:1439px) {
		width: 30px;
	}
	@media screen and (max-width:1023px) {
		width: calc( 100vw * (24 / 400));
	}
}

.myMenuContainerWrapper .logoutContainer {
	display: flex;
	justify-content: flex-end;
}

.myMenuContainerWrapper .logout {
	cursor: pointer;
	font-family: 'NotoSans';
	color: #6e6e6e;
	font-size: 14px;
	text-decoration: underline;
	@media screen and (max-width:1023px) {
		font-size: calc( 100vw * (12 / 400));
	}
	@media screen and (max-width:1023px) {
		font-size: calc( 100vw * (10 / 400));
	}
}

.genericIconButton.kakao {
	color: #3e2723;
	background-color: #ffeb3b;
}

.serviceNav {
	display: flex;
	flex-direction: column;
	gap: 30px;
	@media screen and (max-width:1023px) {
		gap: calc( 100vw * (30 / 400));
	}
}

.serviceNavItem {
	display: flex;
	gap: 20px;
	align-items: center;
	@media screen and (max-width:1023px) {
		gap: calc( 100vw * (20 / 400));
	}
}

.serviceNavItem>.icon {
	aspect-ratio: 1;
	width: 32px;
	@media screen and (max-width:1023px) {
		width: calc( 100vw * (32 / 400));
	}
}

.serviceNavItem>.title {
	flex: 1;
}

.serviceNavItem>.arrow {
	background-image: url('/bandifesta/assets/arrowBlack.png');
	background-size: 100%;
	aspect-ratio: 1;
	width: 16px;
	@media screen and (max-width:1023px) {
		width: calc( 100vw * (16 / 400));
	}
}