.MainSec3_mobile{
    padding : calc( 100vw * (20 / 400));
    width: 95%;
    margin: 0 auto;
    background-color: #f8f8f8;
    border-radius: calc( 100vw * (20 / 400));
    flex-direction: column;
    align-items: flex-start;
    gap: calc( 100vw * (20 / 400));
}
.MainSec3_mobile>p{
    font-size: calc( 100vw * (12 / 400));
    font-weight: 600;
    font-family: "NotoSans";
    color: var(--color-main);
}
.MainSec3_mobile_button_top{
    background-color: var(--color-main);
    color: var(--color-white);
}
.MainSec3_mobile_button_bottom{
    background-color: var(--color-sub);
    color: var(--color-main);
}
.MainSec3_mobile>button{
    display: flex;
    justify-content: space-between;
    width: calc( 100vw * (320 / 400));
    padding : calc( 100vw * (20 / 400));
    border-radius: calc( 100vw * (20 / 400));
    border: none;
    font-size: calc( 100vw * (12 / 400));
    font-weight: 400;
    font-family: "NotoSans";    
    align-items: flex-start;
}
.MainSec3_mobile img{
    height: calc( 100vw * (72 / 400));
}
.MainSec3_mobile h5{
    font-size: calc( 100vw * (20 / 400));
    font-weight: 600;
    font-family: "NotoSans";
    padding-bottom: 10px;
    text-align: start;
}
@media screen and (max-width:1023px) {
    .sec2 .MainSec3_mobile{
        display: flex;
    }
}    