.noticeDetail>h2{
    padding: 30px 0;
    text-align: center;
    border-bottom: 1px solid #ccc;
}
.noticeDetail>div{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    display: flex;
}
.noticeDetail>div>div{
    /* height: 40px; */
    padding: 10px 8px;
    /* line-height: 40px; */
}
.detailTit{
    width: 15%;
    border-right: 1px solid #ccc;
}
.detailBox{
    width: 85%;
}
.noticeDetail>p{
    padding: 40px 24px;
    border-bottom: 1px solid var(--color-main);
}