/* qnaWrite */
.PageQNAWrite{
    width: 100%;
    padding: 30px 32px;
    border: 1px solid #ccc;
    border-radius: 12px;
    }
    .PageQNAWrite>h1{
        width: 100%;
        text-align: center;
    font-size: 32px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
    }
.PageQNAWriteInput>li{
    margin-top: 17px;
}
.PageQNAWriteInput p{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 17px;
}
.PageQNAWriteInput input, .PageQNAWriteInput textarea{
    width: 100%;
    padding: 17px 25px;
    font-size: 18px;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.25) 2px 2px 2px inset;
}
.PageQNAWriteInput textarea{
    width: 100%;
    height: 450px;
    resize: none;
}
.PageQNAWriteBtn{
    margin-top: 17px;
    display: flex; gap: 17px;
    justify-content: end;
}
.PageQNAWriteBtn>button{
    padding: 8px 24px;
    background-color: #050819;
    font-size: 16px;
    color: #fff;   
}

/* qnaDetail */
.MyQNADetail{
    width: 100%;
    border-top: 2px solid #686868;
    border-bottom: 2px solid #686868;
    border-collapse: collapse;
}
.MyQNADetail th, .MyQNADetail td{
    padding: 10px;
}
.MyQNADetail>tr:not(.MyQNADetail>tr:last-child){
    border-bottom: 1px solid #ccc;
}
.MyQNADetailUser>th{
    width: 20%;
    border-right: 1px solid #ccc;
}
.MyQNADetailCont{
    width: 80%;
}
.MyQNADetail th{
    font-weight: bold;
}
.MyQNADetailTit{
    text-align: center;
}