.festivalDetail {
	display: flex;
	flex-direction: column;
	gap: 48px;
	@media screen and (max-width:1439px) {
		gap: 32px;
	}
	@media screen and (max-width:1023px) {
		gap: calc( 100vw * (32 / 400) );
	}
}

/* 상단 제목 */
.festivalDetail > .top {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	font-weight: bold;
	gap: calc( 100vw * (16 / 400) );
}

.festivalDetail > .top>.tagAndLike {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}

.festivalDetail > .top>.fontTitle {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	@media screen and (max-width:1023px) {
		position: static;
		transform: none;
	}
}

/* 중단 이미지&설명 */
.festivalDetail > .middle {
	display: flex;
	justify-content: space-between;
	/* align-items: center; */
	gap: 30px;
	@media screen and (max-width:1439px) {
		gap: 15px;
	}
	@media screen and (max-width:1023px) {
		flex-direction: column;
		justify-content: flex-start;
		gap: calc( 100vw * (15 / 400) );
	}
}

/* 좌측 이미지 */
.festivalDetail .imgContainer {
	flex: calc(630 / 1440);
	aspect-ratio: 1/1.414;
	font-size: 0;
	position: relative;
	overflow: hidden;
	background-color: #d9d9d9;
	background-image: url('/bandifesta/assets/sparkle.png');
	background-repeat: no-repeat;
	background-size: 45%;
	background-position: center;
}

.festivalDetail .imgContainer>.blur {
	position: absolute;
	width: 120%;
	height: 120%;
	object-fit: cover;
	filter: blur(3px) grayscale(0.5) brightness(50%);
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	transition: 0.25s;
}

.festivalDetail .imgContainer:hover>.blur {
	width: 130%;
	height: 130%;
}

.festivalDetail .imgContainer>.upper {
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	object-fit: cover;
	transform: translateY(-50%);
	box-shadow: 0 0 64px #000;
	@media screen and (max-width:1023px) {
		box-shadow: 0 0 calc( 100vw * (64 / 400) ) #000;
	}
}

/* 우측 설명 */
.festivalDetail .description {
	flex: calc( 1 - (630 / 1440) );
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.festivalDetail .descriptionRow {
	display: flex;
	gap: 23px;
	line-height: 29px;
	@media screen and (max-width:1439px) {
		gap: 15px;
	}
	@media screen and (max-width:1023px) {
		gap: calc( 100vw * (15 / 400) );
		line-height: calc( 100vw * (29 / 400) );
	}
}

.festivalDetail .descriptionRow:last-child {
	flex: 1;
}

.festivalDetail .descriptionRow>.left {
	font-weight: bold;
	border-bottom: 1px solid #ccc;
	display: flex;
	justify-content: center;
	width: 200px;
	min-width: 200px;
	padding: 25px 0;
	@media screen and (max-width:1023px) {
		width: calc( 100vw * (100 / 400) );
		min-width: calc( 100vw * (100 / 400) );
		padding: calc( 100vw * (16 / 400) ) 0;
	}
}

.festivalDetail .descriptionRow>.right {
	border-bottom: 1px solid #ccc;
	flex: 1;
	padding: 25px 25px;
	@media screen and (max-width:1023px) {
		width: calc( 100vw * (100 / 400) );
		padding: calc( 100vw * (16 / 400) ) calc( 100vw * (16 / 400) );
	}
}

/* 하단 맵 */
.festivalDetail .bottom {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 23px;
	@media screen and (max-width:1439px) {
		gap: 15px;
	}
	@media screen and (max-width:1023px) {
		gap: calc( 100vw * (15 / 400) );
	}
}

.festivalDetail .bottom .fontSubTitle {
	width: 100%;
	text-align: left;
	font-weight: bold;
}

/* 조아요표시기 */
.likeIndicator {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-weight: bold;
	color: var(--color-red);
	border-radius: 10px;
	width: 80px;
	padding: 8px;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
	@media screen and (max-width:1023px) {
		border-radius: calc( 100vw * (10 / 400) );
		width: calc( 100vw * (80 / 400) );
		padding: calc( 100vw * (8 / 400) );
	}
}

.likeIndicator .festivalLikeButton {
	position: relative;
	top:0;
	left:0;
}