.SubIntroLocation_sec1{
    margin-top: 70px;
}
.SubIntroLocation_sec1_first{
    padding: 30px 0 70px;
    font-family: 'BookkBold';
    font-size: 24px;
    display: grid;
    grid-template-columns: 220px 770px;
    grid-template-rows: repeat(4, auto);
    grid-column-gap: 60px;
    line-height: 44px;
}
.SubIntroLocation_sec1_first>div{
    padding : 30px 10px;
    border-bottom: 2px solid var(--color-main);
}
.SubIntroLocation_sec1_first>div:first-child,.SubIntroLocation_sec1_first>div:nth-child(2){
    border-top: 2px solid var(--color-main);
}

.SubIntroLocation_sec1_second{
font-family: 'BookkBold';
font-size: 24px;
display: grid;
grid-template-columns: 220px 770px;
grid-template-rows: repeat(4, auto);
grid-column-gap: 60px;
line-height: 44px;
margin-top: 30px;
}
.SubIntroLocation_sec1_second>div{
    padding : 30px 10px;
    border-bottom: 2px solid var(--color-main);
}
.SubIntroLocation_sec1_second>div:first-child,.SubIntroLocation_sec1_second>div:nth-child(2){
    border-top: 2px solid var(--color-main);
}
.SubIntroLocation_sec1_second>div>p{
    padding-left: 20px;
}