.subNoticeNavi{
    display: flex; gap: 20px;
    justify-content: center;
}
.subNoticePageNext, .subNoticePagePrev{
    cursor: pointer;
    display: block;
    width: 30px; height: 30px;
    text-align: center;
    line-height: 35px;
    /* line-height 안맞음. */
}
.subNoticePagePrev>img{
    width: 60%; height: 60%;
    transform: rotate(-180deg);
}
.subNoticePageNext>img{
    width: 60%; height: 60%;
}
.subNoticePage{
    cursor: pointer;
    font-size: 20px;
    color: #6E6E6E;
}
.subNoticePageActive>a{
    color: #000;
}





/* -------------------------------------------- */
/* white-space : pre_wrap 
내용 들어가는 부분에 css 써두면 /n 등 다 먹음.
*/
/* -------------------------------------------- */
/* 글쓰기 버튼 */
.FaqPageBtn{
    display: flex;
    gap: 17px;
    justify-content: end;
}
.FAQWriteBtn>button{
    cursor: pointer;
    padding: 8px 24px;
    font-size: 16px;
    color: #F8F8F8;
    background-color: #050819;
    margin-bottom: 23px;
}