.PageNoticeWrap {
	flex: 1;
}

/* ------------------------------------ */

/* 검색창 */
.noticeSearch{
	width: 100%;
    border: 1px solid var(--txt-border-color);
    border-radius: 12px;
    padding: var(--notice-padding) 0;
	text-align: center;
    margin-bottom: 40px;
}
.noticeSearch>h1{
    margin-bottom: 17px;
}
.noticeSearchBar{
	width: 100%;
	justify-content: center;
}
.SearchBox{
	width: 70%;
	margin: 0 auto;
	position: relative;
}
.SearchBox>input{
    width: 100%; 
    border: 1px solid var(--txt-border-color);
    border-radius: 50px;
    background-color: var(--list-hover-color);
    box-shadow: var(--box-shadow-in);
    padding: var(--list-padding);
}
.SearchBox>button{
    width: 35px; height: 35px;
    border-radius: 50%;
    background-color: var(--color-main);
    position: absolute;
    right: 15px; top: 50%;
    transform: translateY(-50%);
    box-shadow: var(--box-shadow-out);
}
.SearchBox>button>img{
    width: 70%; height: 70%;
}
@media screen and (max-width:1023px) {
	.SearchBox{
		width: 85%;
	}
}