/* .noticeWrap{
    display: flex;
} */
.noticeTabSub{
    padding: 17px 25px;
    font-size: 18px;
    font-weight: 700;
    background-color: var(--color-white);
}
.noticeTabSub:nth-child(2){
    color: var(--color-white);
    background-color: var(--color-main);
}


.noticeMain{
    width: 1090px;
}
.searchWrap{
    width: 1088px;
    height: 144px;
    border: 1px solid #ccc;
}
.noticeMain>p{
    padding: 23px 0;
    font-weight: 500;
}
.noticeMain>p>span{
    font-weight: 700;
    color: var(--color-main);
}
.noticeMain ul{
    padding: 18px 25px;
    justify-content: space-between;
}
.noticeListT{
    border-bottom: 2px solid #686868;
    text-align: center;
    font-weight: 700;
    display: flex;
}
.noticeListM{
    border-bottom: 1px solid #ccc;
    font-size: 15px;
    font-weight: 500;
    display: flex;
    align-items: center;
}
.noticeListM:hover{
    transition: 0.2s;
    background-color: #eee;
}
.noticeListM>li:not(.notiTitle){
    text-align: center;
}
.notiNumber{
    width: 30px;
}
.notiTitle{
    width: 600px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.notiWriter{
    width: 50px;
}
.notiDate{
    width: 90px;
}
.notiView{
    width: 50px;
}
.noticeMain>button{
    margin: 23px 0;
    padding: 8px 24px;
    border: none;
    color: var(--color-white);
    background-color: var(--color-main);
    float: right;
}


@media screen and (max-width: 1439px) {
    .noticeTabTit{
        padding: 25px 0;
    }
    .noticeTabSub{
        padding: 15px;
        font-size: 16px;
    }
    .noticeMain{
        width: 100%;
    }
    .searchWrap{
        width: 100%;
    }
    .noticeMain ul{
        padding: 15px;
    }
    .noticeMain>p{
        padding: 30px 0;
        font-size: 14px;
    }
    .noticeListT{
        font-size: 15px;
    }
    .notiNumber{
        width: 5%;
    }
    .notiTitle{
        width: 60%;
    }
    .notiWriter{
        width: 10%;
    }
    .notiDate{
        width: 10%;
    }
    .notiView{
        width: 10%;
    }
    .noticeListM{
        font-size: 14px;
    }
}

@media screen and (max-width: 1023px) {
    .noticeTab{
        display: none;
    }
}