.faqTotal{
    font-weight: var(--txt-weight);
    padding-bottom: var(--notice-padding);
}
.faqTotal>span{
    font-weight: var(--tit-weight);
}
.faqListsWrap{
    width: 100%;
    border-top: 2px solid var(--tit-border-color);
    border-bottom: 2px solid var(--tit-border-color);
}
.faqLists{
    border-bottom: 1px solid var(--txt-border-color);
}
.faqLists>div{
    align-items: center;
}



.faqLists>div>div{
    display: flex; gap: 17px;
}
.faqListsQuestion{
    display: flex;
    padding: var(--list-padding);
    justify-content: space-between;
}
.faqListsQuestion>div{
    width: 95%;
}
.faqListsQuestion>div>img{
    width: 10%; max-height: 36px;
}
.faqListsQuestion>div>p{
    height: auto;
    display: flex;
    align-items: center;
    font-weight: var(--txt-weight);
    font-size: var(--txt-font-size);
}
.faqListsQuestion>span{
    /* width: 5%; */
    /* text-align: end; */
    /* margin-left: 10px; */
}
.faqListsQuestion>span>img{
    width: 20px; height: 20px;
    transform: rotate(90deg);
    transition: 0.3s;
}
.AnswerRotate{
    transform: rotate(-90deg) !important;
    transition: 0.3s;
}
.faqListsAnswer{
    max-height: 0;
    overflow: hidden;
    background-color: #f8f8f8;
    transition: 0.3s;
}
.faqListsAnswer>div{
    padding: var(--list-padding);
    width: 98%;
    border-top: 1px solid var(--txt-border-color);
}
.faqListsAnswer p{
    font-size: var(--txt-font-size);
}
.faqListsAnswerActive{
    max-height: 200vh;
    /* border-top: 1px solid var(--txt-border-color); */
}
@media screen and (max-width:1439px) {
    /* .faqLists img{
        height: calc( 100vw * (20 / 400));
    } */
}
@media screen and (max-width:1023px) {
    /* .faqLists img{
        width: auto; height: calc( 100vw * (20 / 400)); */
    /* } */
}




/* --------------------- */
/* .faqLists img{
    max-width: 38px; height: 36px;
} */
/* --------------------- */