/* ------------------contents------------ */
.faqLists{
    width: 100%;
    border-top: 2px solid #666;
    margin-bottom: 23px;
}
.faqLists img{
    width: 38px; height: 36px;
}
.faqLists>li>div{
    border-bottom: 1px solid #ccc;
    align-items: center;
}
.faqLists>li>div>div{
    display: flex; gap: 17px;
}
.faqListsQuestion{
    display: flex;
    justify-content: space-between;
    padding: 18px 25px;  /*  */
}
.faqListsQuestion>div{
    align-items: center;
}
.faqListsQuestion>span>img{
    width: 20px; height: 20px;
    transform: rotate(90deg);
}
.faqListsAnswerRotate{
    transform: rotate(-90deg) !important;
    transition: 0.5s;
}
.faqListsAnswer{
    display: none;
    overflow: hidden;
    background-color: #eee;
}
.faqListsAnswer>div{
    padding: 17px 25px;
}
.faqListsAnswerActive{
    display: block;
}
