.genericButton {
	cursor: pointer;
	background-color: var(--color-main);
	color: var(--color-white);
	padding: 8px 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	@media screen and (max-width:1023px) {
		padding: calc( 100vw * (6 / 400)) 
		calc( 100vw * (16 / 400));
	}
}

.genericButton .fontMain {
	color: var(--color-white);
}

.genericIconButton {
	cursor: pointer;
	display: flex;
	border-radius: 8px;
	padding: 8px;
	gap: 16px;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
	@media screen and (max-width:1023px) {
		border-radius: calc( 100vw * (8 / 400));
		padding: calc( 100vw * (8 / 400));
		gap: calc( 100vw * (16 / 400));
	}
}

.genericIconButton>.icon {
	aspect-ratio: 1;
	width: 24px;
	@media screen and (max-width:1439px) {
		width: 20px;
	}
	@media screen and (max-width:1023px) {
		width: calc( 100vw * (16 / 400));
	}
}

.genericIconButton>.title {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
}