.leftTabContainerWrapper {
	width: 260px;
	min-width: 260px;
	overflow-y: hidden;
	@media screen and (max-width:1439px) {
		width:224px;
		min-width:224px;
	}
	@media screen and (max-width:1023px) {
		display: none;
	}
}

.leftTabContainer{
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	font-family: 'NotoSans';
}

.leftTabTitle {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px 0;
	color: var(--color-white);
	background-color: var(--color-main);
	border: 1px solid #ccc;
	font-weight: bold;
	@media screen and (max-width:1439px) {
		padding: 25px 0;
	}
}

.leftTab.fontMain {
	margin-top:-1px;
	color: var(--color-main);
	background-color: var(--color-white);
	padding: 17px 25px;
	border: 1px solid #ccc;
	cursor: pointer;
}

.leftTab.fontMain.active {
	color:var(--color-white);
	background-color: var(--color-main);
}